h1{
    color:white;
    background-color:#121356;
    border: 5px solid #444456;
    overflow: auto;
    width: 200px;
  height: 50px;
  border: 1px dotted black;
}
img{
 display: block;
margin-left: auto;
margin-right: auto;
height: 600px;
width: 400px;

}
button{
    color:Red;
    background-color: Black;
    background-image: url('a.jpg');
}